<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Jardin Intelligent{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Favicon and icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <!-- Plotly, moment.js and moment-timezone.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

    {% block head_scripts %}{% endblock %}
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/" class="logo">Mon Jardin Intelligent</a>
            <div class="menu-icon" id="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="nav-links" id="nav-links">
                <a href="/">Accueil</a>
                <a href="/watering-history">Historique des arrosages</a>
                <a href="/yearly-graph">Graphiques Annuels</a>
                <a href="/technical-cabinet-temperature">Température Armoire Technique</a>
            </nav>
        </div>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% block specific_scripts %}{% endblock %}
</body>
</html>